# dependencies
/frontend/node_modules

# testing
/frontend/coverage

# production
/frontend/build

# python
api/.env
api/.venv
api/env/
api/venv/
api/ENV/
api/env.bak/
api/venv.bak/
*.pyc
__pycache__


# misc
.DS_Store
.idea
.env.local
.env/*
.env.development.local
.env/*
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/frontend/src/styles/**/*.css
/frontend/src/styles/*.css
/frontend/src/*.css
