.form {
  &__group {
    display: flex;
    border-bottom: 1px solid $color-grey-light;
    padding: .5em 0;
  }

  &__product {
    display: inline-block;
    width: 100%;

    @include respond-to(md-up) {
      width: 30%;
      margin: 1em 0;
    }
  }

  &__variants {
    border-bottom: 1px solid $color-black;
  }

  &__variant {
    display: inline-block;
    width: 100%;

    @include respond-to(md-up) {
      width: 40%;
    }
  }

  &__delete-btn {
    margin-left: auto;
  }
}