$pie-chart-transition: 1500ms 275ms cubic-bezier(0.6, 0.75, 0.3, 1);

/**
 * Pie chart
 * Currently only supporing a single value
 */

.pie {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: $font-family-default;
}

.pie svg {
  transform: rotate(-90deg);
  border-radius: 50%;
  background: $color-blue;
  color: $color-red;
  display: block;
}

.pie::after {
  content: "";
  box-sizing: content-box;
  height: 76%;
  width: 76%;
  border: 1px solid $color-white;
  margin: -1px;
  position: absolute;
  top: 12%;
  left: 12%;
  background: $color-white;
  border-radius: 50%;
}

.pie-figure {
  stroke: currentColor;
  fill: transparent;
  transform-origin: 50% 50%;
  transition: $pie-chart-transition;
  transition-property: stroke-dashoffset;
}

.pie-line {
  stroke: $color-white;
  stroke-width: 3px;
}

.pie-line-axis {
  transition: $pie-chart-transition;
  transition-property: transform;
  -ms-transform-origin: left center; /* IE 9 */
  -webkit-transform-origin: center left !important; /* Chrome, Safari, Opera */
  transform-origin: center;
}

.pie-title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  font-size: 1.3rem;
  font-weight: bold;
  text-indent: 0.1em;
  transform: translate(-50%, -50%);
}
