.product {
  border-bottom: 2px solid black;
  margin: 0;

  &__variants {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height .6s;

    &--open {
      max-height: 500px;
    }

    &__item {
      display: flex;

      & .table__cell:first-of-type {
        margin-left: 25%;
      }

      & .table__cell:last-of-type {
        margin-right: 25%;
      }
    }
  }
}

.product:first-of-type {
  border-top: 2px solid;
}