.table {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  padding: 10px 0;
  align-items: center;

  &__cell {
    width: 15%;
    flex-grow: 1;
    padding: 0.8em 0;
    overflow: hidden;
    font-size: $font-size-text-lg;
    list-style: none;

    &:first-child {
      width: 40%;

      @include respond-to(sm-up) {
        width: 25%;
      }
    }

    @include respond-to(sm-up) {
      width: 25%;
      padding: 0.8em 1.2em;
    }

    &__chev {
      transition: transform .3s ease;

      @include respond-to(sm-up) {
        margin-left: 1em;
      }
      .product--open & {
        transform: rotate(-180deg);
      }
    }
  }

  &__btn {
    position: relative;
    color: $color-black;

    @include respond-to(sm-up) {
      position: initial;
    }

    &:before {
      background: $color-brand;
    }
  }
}